[Unit]
Description=Updating Unit
Requires=docker.service
Requires=fleet.service
After=docker.service
After=fleet.service

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/bin/sh -c 'if [ "`docker inspect --format {{.Id}} bleshik/bills`" != "`(docker pull bleshik/bills > /dev/null; docker inspect --format {{.Id}} bleshik/bills)`" ] ; then /usr/bin/fleetctl stop bills-api@%i.service && /usr/bin/fleetctl start bills-api@%i.service ; fi'

[X-Fleet]
MachineOf=bills-api@%i.service
