[Unit]
Description=Where To Buy REST API HTTP Service
After=docker.service
Requires=docker.service

[Service]
KillMode=none
TimeoutStartSec=0
TimeoutStopSec=360
EnvironmentFile=/etc/environment
Environment=INSTANCE=%i
ExecStartPre=-/usr/bin/docker stop wh-api-%i
ExecStartPre=-/usr/bin/docker rm wh-api-%i
ExecStartPre=/usr/bin/docker pull bleshik/wh-api:latest
ExecStart=/bin/sh -c '/usr/bin/docker run -e "ENVIRONMENT=production" -e "ETCD_ENDPOINT=http://`ifconfig docker0 | awk \'/\<inet\>/ { print $2}\'`:4001" --name wh-api-%i -p 8080:8080 -p 7000:7000 bleshik/wh-api:latest'
ExecStop=/usr/bin/docker stop wh-api-%i
Restart=on-failure

[Install]
WantedBy=multi-user.target

[X-Fleet]                                                                                                                                                                            
MachineMetadata=access=private
X-Conflicts=%p@*.service                                                                                                                                                             
Conflicts=%p@*.service
X-Conflicts=docker-discover.service
Conflicts=docker-discover.service
