[Unit]
Description=Updating Unit
Requires=docker.service
Requires=fleet.service
After=docker.service
After=fleet.service

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/bin/sh -c 'if [ "`docker inspect --format {{.Id}} bleshik/wh-extractor`" != "`(docker pull bleshik/wh-extractor > /dev/null; docker inspect --format {{.Id}} bleshik/wh-extractor)`" ] ; then echo "New version of bleshik/wh-extractor downloaded. I will restart it now..."; /usr/bin/fleetctl stop wh-extractor@%i.service; /usr/bin/fleetctl start wh-extractor@%i.service ; fi'

[X-Fleet]
MachineOf=wh-extractor@%i.service
