[Unit]
Description=Where To Buy Extractor
After=docker.service
Requires=docker.service

[Service]
KillMode=none
TimeoutStartSec=0
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker stop wh-extractor
ExecStartPre=-/usr/bin/docker rm wh-extractor
ExecStartPre=/usr/bin/docker pull bleshik/wh-extractor:latest
ExecStart=/bin/sh -c '/usr/bin/docker run\
        -e "SBT_OPTS=-XX:PermSize=128m -XX:MaxPermSize=128m -Xmx256m -Xms256m"\
        -e "ENVIRONMENT=production"\
        -e "PRIVATE_IP=${COREOS_PRIVATE_IPV4}"\
        -e "WH_API_AKKA_ENDPOINT=${COREOS_PRIVATE_IPV4}"\
        --name wh-extractor\
        -p 9001:9001\
        bleshik/wh-extractor:latest\
        "run akka now"'
ExecStop=/usr/bin/docker stop wh-extractor
Restart=on-failure

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineOf=wh-api@1.service
