[Unit]
Description=Where To Buy Extractor
After=docker.service
Requires=docker.service
Requires=etcd.service
After=etcd.service

[Service]
KillMode=none
TimeoutStartSec=0
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker stop wh-extractor
ExecStartPre=-/usr/bin/docker rm wh-extractor
ExecStartPre=/usr/bin/docker pull bleshik/wh-extractor:latest
ExecStart=/bin/sh -c '/usr/bin/docker run\
        -e "JAVA_OPTS=-XX:PermSize=96m -XX:MaxPermSize=96m -Xmx256m -Xms256m"\
        -e "INSTANCE=%i"\
        -e "INSTANCES=2"\
        -e "ENVIRONMENT=production"\
        -e "PRIVATE_IP=${COREOS_PRIVATE_IPV4}"\
        -e "BALANCER_IP=`fleetctl list-machines | grep public | cut -f2`"\
        -e "WH_API_AKKA_ENDPOINT=akka.tcp://WhereToBuySystem@`fleetctl list-machines | grep public | cut -f2`:9000/user/EntryExtractingActor"\
        --restart always\
        --name wh-extractor\
        -p 9001:9001\
        bleshik/wh-extractor:latest\
        akka'
ExecStop=-/usr/bin/docker stop wh-extractor
Restart=always

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="access=private" "type=backend"
Conflicts=%p@*.service
