[Unit]
Description=Updating Unit
Requires=docker.service
Requires=fleet.service
After=docker.service
After=fleet.service

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/bin/sh -c 'if [ "`docker inspect --format {{.Id}} bleshik/wh-extractor`" != "`(docker pull bleshik/wh-extractor > /dev/null; docker inspect --format {{.Id}} bleshik/wh-extractor)`" ] ; then /usr/bin/fleetctl stop wh-extractor@.service && /usr/bin/fleetctl start wh-extractor@.service ; fi'

[X-Fleet]
MachineOf=wh-extractor.service
