[Unit]
Description=System Logs Uploading Unit

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while [ 1 ] ; do \
              echo $(top -bn2 |\
              grep 'Cpu(s)' |\
              tail -1 |\
              sed -e 's/.Cpu(s):\s\+/CPU.user=/g' |\
              sed -e 's/\s\+us,\s\+/,CPU.system=/g' |\
              sed -e 's/\s\+sy,\s\+.*ni,\s\+/,CPU.idle=/g' |\
              sed -e 's/\s\+id.*//g' |\
              sed -e 's/\.[0-9]\+/%/g'),$(free |\
              grep 'Mem' |\
              head -1 |\
              sed -e 's/Mem:\s\+\([0-9]\+\)\s\+\([0-9]\+\)\s\+.*/Mem.total=\1,Mem.active=\2/g') |\
              awk '{ print \"${LOGENTRIES_TOKEN}\", $0; fflush(); }' |\
              ncat data.logentries.com 10000; \
          done;"
Restart=always

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
