[Unit]
Description=Updating Unit
After=docker.service
Requires=docker.service
After=fleet.service
Requires=fleet.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c 'while [ 1 ] ; do\
        if [ `free -m | sed -n 3p | tr -s \' \' | cut -f4 -d \' \'` -ge 100 ] ; then\
            for img in `fleetctl list-units | grep running | grep $COREOS_PRIVATE_IPV4 | cut -f1 | sed -e "s/\(\@.*\|\)\.service$//g"` ; do\
                if [ ! -z "`docker images | grep \"bleshik/$img\"`" ] ; then\
                    echo "Any updates for bleshik/$img?";\
                    CUR_VERSION=`docker inspect --format {{.Image}} $img 2> /dev/null`;\
                    NEW_VERSION=`(docker pull bleshik/$img 2>&1 > /dev/null && docker inspect --format {{.Id}} bleshik/$img 2> /dev/null)`;\
                    if [ $? -eq 0 ] && [ "$CUR_VERSION" != "$NEW_VERSION" ] ; then\
                        echo "New version of bleshik/$img downloaded. I will restart it now...";\
                        for unit in `fleetctl list-units | grep $COREOS_PRIVATE_IPV4 | cut -f1 | grep $img` ; do\
                            /usr/bin/fleetctl stop $unit;\
                            /usr/bin/fleetctl start $unit;\
                        done\
                    else\
                        echo "Nope, no updates for bleshik/$img";\
                    fi\
                fi\
            done;\
        fi;\
        sleep 60;\
    done'
Restart=always

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
