[Unit]
Description=Where To Buy Web App
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=360
EnvironmentFile=/etc/environment
Environment=INSTANCE=%i
ExecStartPre=-/usr/bin/docker stop wh-web-app
ExecStartPre=-/usr/bin/docker rm wh-web-app
ExecStartPre=/usr/bin/docker pull bleshik/wh-web-app:latest
ExecStart=/bin/sh -c '/usr/bin/docker run\
          -e "ENVIRONMENT=production"\
          -e "BALANCER_IP=`fleetctl list-machines | grep public | cut -f2`"\
          --name wh-web-app\
          --rm\
          -p 8000\
          bleshik/wh-web-app:latest'
ExecStop=-/usr/bin/docker stop wh-web-app
Restart=always

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=wh-extractor@*.service
Conflicts=%p@*.service
