[Unit]
Description=Watchdog
After=fleet.service
Requires=fleet.service

[Service]
TimeoutStartSec=0
ExecStart=/bin/sh -c 'while [ 1 ] ; do\
        echo "Looking for failed units...";\
        for unit in `fleetctl list-units | tail -n +2 | grep -v mongo-replica-config.service | grep -v activating | grep -v running | cut -f1 | sort -u` ; do\
            echo "Starting $unit failed unit" ; fleetctl unload $unit ; fleetctl stop $unit ; fleetctl start $unit;\
        done;\
        sleep 60;\
    done'
Restart=always

[Install]
WantedBy=multi-user.target
